# Object files
*.o

# Emacs backup files
*~

# Executables
propagate
detect
launchtle
addwcs
fitsheader
fitskey
pgm2fits
plotfits
rde2iod
reduce
residuals
runsched
satfit
satid
satmap
satorbit
skymap
tleinfo
uk2iod
viewer
wcsfit
faketle
imgstat
angular
calibrate
dec2sex
jpg2fits
measure
pstrack
sex2dec
deproject
jpgstack
slewto
tle2old
waitfor
pass
tle2ole

# TLE dir
tle/