[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=ST_Compress
Comment=
Exec=st_compress.sh
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=true
Hidden=false

