[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Runshed
Comment=
Exec=st_runsched.sh
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=true
Hidden=false

